.app-nav{
    position: relative;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.app-content{
    /* position: relative; */
}

.example-card {
    width: 400px;
    /* margin-top: 150px; */
  }
  
  .example-header-image {
    background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .content-field{
    display: block;
    margin: auto;
    /* text-align: center; */
    width: 500px;
  }